@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Http;

@functions {
    public class IndexModel : PageModel
    {
        public string email {get;set;} = "";
        public string returnIdMessage{get;set;} = "";
        public string takeoutIdMessage{get;set;} = "";
        public string emailMessage { get; set; } = "Logged in as: NONE";

        public void OnGetAsync(){
            email = HttpContext.Session.GetString("_Email");
            emailMessage = $"Logged in as: {email}"; 
        }
        public void OnPostEdit(string takeoutId, string returnId)
        {
            email = HttpContext.Session.GetString("_Email");
            emailMessage = $"Logged in as: {email}";
            //take out/return
            returnBook(returnId, takeoutId);
        }
        
        public void returnBook(string returnId, string takeoutId){
            if(!String.IsNullOrEmpty(returnId)){
                returnIdMessage = $"(Successfully returned #{returnId})";
            }
            if(!String.IsNullOrEmpty(takeoutId)){
                takeoutIdMessage = $"(Successfully took out #{takeoutId})";
            }
        }
    }
}

<h2 class = "text-center">LIBRARY APPLICATION - Checkout</h2>
<hr/>
<div class = "text-right">
<p>@Model.emailMessage</p>
</div>
<form asp-page-handler="edit" method="post"> 
    <div class = "text-center">
    <!-- Login/logout -->
        <h5>Take out/return books:</h5>
        <label>Return ID:</label>
        <input type = "text" name = "returnId"/>
        <button>Submit</button>
        <br/>
        <label>Checkout ID:</label>
        <input type = "text" name = "takeoutId"/>
        <button>Submit</button>
        <p>@Model.returnIdMessage</p>
        <p>@Model.takeoutIdMessage</p>
    </div>
</form>