@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Library Application - Main Page</p>
    <p>Follow the links on the header to proceed to desired functionality. Must login first before performing anything.</p>
</div>
