@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Http;

@functions {
    public class IndexModel : PageModel
    {
        public string emailMessage { get; set; } = "Logged in as: NONE";
        public string email {get;set;} = "";
        public void OnPostEdit(string emailIn)
        {
            HttpContext.Session.SetString("_Email", emailIn);
            //change email
            changeEmail(emailIn);
         }
        public void OnGetAsync(){
            email = HttpContext.Session.GetString("_Email");
            emailMessage = $"Logged in as: {email}"; 
        }
        public void changeEmail(string emailIn){
            if (string.IsNullOrEmpty(emailIn)){
                email = email;
            }
            else{
                email = emailIn;
            }
            emailMessage = $"Logged in as: {email}";
        }
    }
}

<h2 class = "text-center">LIBRARY APPLICATION - Login</h2>
<hr/>
<div class = "text-right">
<p>@Model.emailMessage</p>
</div>
<form asp-page-handler="edit" method="post"> 
    <div class = "text-center">
    <!-- Login/logout -->
        <h5>Please enter your email below to continue:</h5>
        <label>Email:</label>
        <input type = "email" name = "emailIn"/>
        <button>Submit</button>
    </div>
    <hr/>
</form>